header {
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(https://media3.giphy.com/media/U3qYN8S0j3bpK/giphy.webp?cid=790b761136conav066tkccl91o2posqsi8a9pwaq476w7pka&ep=v1_gifs_search&rid=giphy.webp&ct=g);
}
.ps {
  text-align: right;
  font-style: italic;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 10px 20px black;
}
.small {
  text-align: left;
  padding: 20px;
  padding-top: 10px;
}
footer {
  text-align: center;
  background-image: url(https://media3.giphy.com/media/U3qYN8S0j3bpK/giphy.webp?cid=790b761136conav066tkccl91o2posqsi8a9pwaq476w7pka&ep=v1_gifs_search&rid=giphy.webp&ct=g);
  color: aliceblue;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}

.class {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}
.info {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
h1 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
}

.contact-info {
  padding: 5px;
  margin-top: 20px;
}
body {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnSAWRoiiltVlp-3CU99FrAtVkY-LOgvg8yQ&shttps://media3.giphy.com/media/gKncmZtoUiAcQxPvap/giphy.webp?cid=ecf05e47lcxemawjb93bkhbqcjod1asyo0r9kd10efosh1cx&ep=v1_gifs_search&rid=giphy.webp&ct=g);
  overflow: hidden;
}
body img {
  background-size: cover;
  background-position: center;
}
nav {
  margin-left: 0;
}
section {
  margin-left: 15px;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ima1 {
  color: black;

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEdYLmQ7chkWU9LAO5tXfGLI42Eq7-wW8EFw&s);
}
.ima2 {
  color: white;
  height: 110px;

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEZaSrpALBNHS2jPAzoktnyQn-vsIdiZWNGw&s);
}
.ima3 {
  height: 110px;

  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-creative-ocean-world-aquarium-promotional-display-board-background-template-image_165088.jpg);
}
.ima4 {
  width: 700px;
  color: white;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSepLyBHhN4xF-t6heyM43F___XUAV2pD4Kaw&s);
}
.ima5 {
  width: 700px;
  color: rgb(255, 255, 5);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCVhQbk6LXThL5L6PShi1r_4LGpt3giZT1ow&s);
}
